<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Buddy - Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body class="bg-light py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="text-center mb-3">
            <img src="{{url_for('static', filename='images/logo-transparent.png')}}" alt="Travel Buddy Logo" class="img-fluid w-50" />
          </div>
          
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <form method="POST" class="p-4 bg-white shadow rounded">
            <h3 class="text-center mb-4">Sign Up</h3>
            <div class="form-group mb-3">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name_signup" name="name_signup" placeholder="Enter name" required />
            </div>
            <div class="form-group mb-3">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email_signup" name="email_signup" placeholder="Enter email" required />
            </div>
            <div class="form-group mb-3">
              <label for="password1">Password</label>
              <input type="password1" class="form-control" id="password1_signup" name="password1_signup" placeholder="Enter password" required />
            </div>
            <div class="form-group mb-3">
              <label for="password2">Confirm Password</label>
              <input type="password2" class="form-control" id="password2_signup" name="password2_signup" placeholder="Confirm password" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
